*{
    --color-violet: rgb(112, 31, 187);
    --color-white: white;
    --color-green: #0de7a6;
    --gradient-bar: linear-gradient(90deg, rgb(247, 131, 241) 30%, #0de7a6,rgb(112, 31, 187));
    --color-pink: rgb(247, 131, 241);

}